.form-label {
    display: block;
    text-align: left;
}

#fondo {
    background-color: #8A9CD3;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tarjeta {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px #3a4877;
    padding: 40px;
    width: 500px;
    height: 400px;
    align-items: center;
    justify-content: center;
}

#btn-iniciar-sesion {
    background-color: #5F74C1;
    color: white;
    border: none;
    transition: background-color 0.5s;
    width: 150px;

}

#btn-iniciar-sesion:hover {
    background-color: #3a4877;
}